<p>Estimado equipo, Cordial saludo. </p>
</br>
</br>
<p>Por medio del presente nos permitimos informar que la solicitud de CONEXOS para PESO NOMINAL # <?= $solicitud  ?>, se encuentra con los lotes bloqueados y dispònibles para las agencias de aduanas. </p>
</br>
</br>
</br> 
<p>Nota: </p>
<p>Informar a la correspondiente agencia que la solicitud ya se encuentra habilitada para la asignacion del servicio: </p>
</br>
</br>
<p style="padding-top: 50px">Quedamos atentos a sus comentarios.</p>