<div class="remittancesCaffeeHasFumigationServices index">
	<h2><?php echo __('Remittances Caffee Has Fumigation Services'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('remittances_caffee_id'); ?></th>
			<th><?php echo $this->Paginator->sort('fumigation_services_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($remittancesCaffeeHasFumigationServices as $remittancesCaffeeHasFumigationService): ?>
	<tr>
		<td><?php echo h($remittancesCaffeeHasFumigationService['RemittancesCaffeeHasFumigationService']['remittances_caffee_id']); ?>&nbsp;</td>
		<td><?php echo h($remittancesCaffeeHasFumigationService['RemittancesCaffeeHasFumigationService']['fumigation_services_id']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $remittancesCaffeeHasFumigationService['RemittancesCaffeeHasFumigationService']['remittances_caffee_id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $remittancesCaffeeHasFumigationService['RemittancesCaffeeHasFumigationService']['remittances_caffee_id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $remittancesCaffeeHasFumigationService['RemittancesCaffeeHasFumigationService']['remittances_caffee_id']), array('confirm' => __('Are you sure you want to delete # %s?', $remittancesCaffeeHasFumigationService['RemittancesCaffeeHasFumigationService']['remittances_caffee_id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Remittances Caffee Has Fumigation Service'), array('action' => 'add')); ?></li>
	</ul>
</div>
