<div class="slotStores index">
	<h2><?php echo __('Slot Stores'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name_space'); ?></th>
			<th><?php echo $this->Paginator->sort('stores_caffee_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($slotStores as $slotStore): ?>
	<tr>
		<td><?php echo h($slotStore['SlotStore']['id']); ?>&nbsp;</td>
		<td><?php echo h($slotStore['SlotStore']['name_space']); ?>&nbsp;</td>
		<td><?php echo h($slotStore['SlotStore']['stores_caffee_id']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $slotStore['SlotStore']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $slotStore['SlotStore']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $slotStore['SlotStore']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $slotStore['SlotStore']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Slot Store'), array('action' => 'add')); ?></li>
	</ul>
</div>
