<div class="traceabilityPackagings index">
	<h2><?php echo __('Traceability Packagings'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('img1'); ?></th>
			<th><?php echo $this->Paginator->sort('img2'); ?></th>
			<th><?php echo $this->Paginator->sort('img3'); ?></th>
			<th><?php echo $this->Paginator->sort('img4'); ?></th>
			<th><?php echo $this->Paginator->sort('img5'); ?></th>
			<th><?php echo $this->Paginator->sort('img6'); ?></th>
			<th><?php echo $this->Paginator->sort('img7'); ?></th>
			<th><?php echo $this->Paginator->sort('img8'); ?></th>
			<th><?php echo $this->Paginator->sort('img9'); ?></th>
			<th><?php echo $this->Paginator->sort('img10'); ?></th>
			<th><?php echo $this->Paginator->sort('date_created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($traceabilityPackagings as $traceabilityPackaging): ?>
	<tr>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['id']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img1']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img2']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img3']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img4']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img5']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img6']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img7']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img8']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img9']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['img10']); ?>&nbsp;</td>
		<td><?php echo h($traceabilityPackaging['TraceabilityPackaging']['date_created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $traceabilityPackaging['TraceabilityPackaging']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $traceabilityPackaging['TraceabilityPackaging']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $traceabilityPackaging['TraceabilityPackaging']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $traceabilityPackaging['TraceabilityPackaging']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Traceability Packaging'), array('action' => 'add')); ?></li>
	</ul>
</div>
