<div class="users index">
	<h2><?php echo __(''); ?></h2>
	<table cellpadding="0" cellspacing="0">
	  <?php echo $this->Html->image('backgroud.png', array('alt' => 'CakePHP'));?>
            <h2 style="margin-left: 40%; font-size: 20px"><i>"Pesaje para descargue y embalaje de café, validación de bascula"</i></h2>
	</table>
        <p><p>

</div>
<div class="actions">
	<h3><?php echo __('Menu'); ?></h3>
	<ul>
		<li><?php if($this->Session->read('User.id') == 110 || $this->Session->read('User.id') == 336 || $this->Session->read('User.id') == 260 || $this->Session->read('User.id') == 288 )
			echo $this->Html->link(__('1.INGRECAFE - IN'), array('controller' => 'RemittancesCaffees', 'action' => 'download_caffee')); ?> </li>
                <li><?php echo $this->Html->link(__('2.PESOPADRON - IN'), array('controller' => 'BasculeVerifications', 'action' => 'index')); ?> </li>
                <li><?php echo $this->Html->link(__('3.SALPENCAFE - OUT'), array('controller' => 'DetailPackagingCaffees', 'action' => 'packaging_pendient')); ?> </li>
                <li><?php echo $this->Html->link(__('4.SALPROCAFE - OUT'), array('controller' => 'DetailPackagingCaffees', 'action' => 'packaging_processing')); ?> </li>
                <li><?php echo $this->Html->link(__('5.VACIADOCONT - OUT'), array('controller' => 'DetailPackagingCaffees', 'action' => 'packaging_empty')); ?> </li>
                <li><?php echo $this->Html->link(__('6.DEVOLUCION - OUT'), array('controller' => 'RemittancesCaffees', 'action' => 'return_index')); ?> </li>
                <li><?php echo $this->Html->link(__('7.CONF USUARIO'), array('controller' => 'Users', 'action' => 'edit',$this->Session->read('User.id'))); ?> </li>
                <li><?php
		if($this->Session->read('User.profiles_id') == 1 || $this->Session->read('User.profiles_id') == 2){
			echo $this->Html->link(__('8.BUSCAR RAINGCAFE'), array('controller' => 'RemittancesCaffees', 'action' => 'search'));
		} 
		?> </li>
                <li><?php 
		if($this->Session->read('User.profiles_id') == 1){
			echo $this->Html->link(__('9.BUSCAR ENTMERCANCIA'), array('controller' => 'PackagingCaffees', 'action' => 'report'));} ?> </li>
                <li><?php echo $this->Html->link(__('10.SALIR'), array('controller' => 'users', 'action' => 'logout', $this->Session->read('User.id'))); ?></li>
	</ul>
</div>
