<div class="users index">
    <h2><?php echo __(''); ?></h2>
    <table cellpadding="0" cellspacing="0">
        <?php echo $this->Html->image('backgroud.png', array('alt' => 'CakePHP')); ?>
        <h2 style="margin-left: 20%; font-size: 18px"><i>"Ingreso de café, Novedades, Trazabilidades, Conexos, Embalaje de Café, Tarja de contendores"</i></h2>
    </table>
    <p><p>

</div>
<div class="actions vertical-menu">
    <h3><?php echo __('Menú'); ?></h3>
    <ul>
        <li>
            <?php 
                if($this->Session->read('User.id') != 316  ) {
                    echo $this->Html->link(__('1.RAINGCAFE - IN'), array('controller' => 'RemittancesCaffees', 'action' => 'add')); 
                }else{
                    echo $this->Html->link(__('1.RAINGCAFE - IN'), array('controller' => 'RemittancesCaffees', 'action' => 'index')); 
                }
            ?> 
        </li>   
        <li>
            <?php //echo $this->Html->link(__('2.INSPECCIONES'), array('controller' => 'VehiculeInspections', 'action' => 'index')); ?> 
        </li>
        <li>
            <?php 
                if($this->Session->read('User.id') != 316  ) 
                echo $this->Html->link(__('3.TRAZACAFE - IN'), array('controller' => 'OperationTrackings', 'action' => 'index',1)); 
            ?> 
        </li>
        <li>
            <?php 
                if(in_array($this->Session->read('User.jetty'),['BUN','IMP'])) 
                echo $this->Html->link(__('6.INFONAVI - OUT'), array('controller' => 'InfoNavies', 'action' => 'index')); 
            ?> 
        </li>
        <li>
            <?php 
                if($this->Session->read('User.opera') == 1)
                echo $this->Html->link(__('4.PROGRACAFE- OUT'), array('controller' => 'PackagingCaffees', 'action' => 'allOie')); ?> 
        </li>
        <li>
            <?php echo $this->Html->link(__('5.TARJACAFE - OUT'), array('controller' => 'PackagingCaffees', 'action' => 'index')); ?> 
        </li>
        <li>
            <?php 
                if(in_array($this->Session->read('User.centerId'),[1,2,8,3]) && $this->Session->read('User.id') != 316)
                echo $this->Html->link(__('7.SERVICIOS - IN'), array('controller' => 'ServicesOrders', 'action' => 'index')); 
            ?> 
        </li>
        <li>
            <?php 
                if($this->Session->read('User.id') != 316  ) 
                echo $this->Html->link(__('8.SUMINISTROS'), array('controller' => 'supplies', 'action' => 'index')); 
            ?> 
        </li>
        <li>
            <?php 
                if($this->Session->read('User.id') != 316  ) 
                echo $this->Html->link(__('9.MUESTREO - IN'), array('controller' => 'CoffeeSamples', 'action' => 'index',1)); 
            ?> 
        </li>        
        <li>
            <?php
                if(in_array($this->Session->read('User.jetty'),['BUN','IMP'])) 
                echo $this->Html->link(__('10. BODEGAS'), array('controller' => 'SlotStores', 'action' => 'slotDisabled' )); 
            ?>
        </li>
        <li>
            <?php  
                if($this->Session->read('User.id') != 316  )
                echo $this->Html->link(__('11.DEVOLUCIÓN'), array('controller' => 'ReturnsCaffees', 'action' => 'add' )); 
            ?>
        </li>
        <li>
            <?php 
                if($this->Session->read('User.id') == 1 || $this->Session->read('User.id') == 130 || $this->Session->read('User.id') == 240 || $this->Session->read('User.id') == 294 || $this->Session->read('User.id') == 332 )
                    echo $this->Html->link(__('12.CLIENTES'), array('controller' => 'Clients', 'action' => 'index' )); 
            ?>
        </li>
        <li>
        <?php 
                if($this->Session->read('User.id') == 1 || $this->Session->read('User.id') == 130 || $this->Session->read('User.id') == 240 || $this->Session->read('User.id') == 294 || $this->Session->read('User.id') == 332 )
                echo $this->Html->link(__('7.CONF USUARIO'), array('controller' => 'Users', 'action' => 'edit',$this->Session->read('User.id'))); ?>
        </li>
        
        <li>
            <?php echo $this->Html->link(__('13.SALIR'), array('controller' => 'users', 'action' => 'logout', $this->Session->read('User.id'))); ?>
        </li>
    </ul>
</div>
