<div class="users index">
		<h2><?php echo __(''); ?></h2>
	<table cellpadding="0" cellspacing="0">
	  <?php echo $this->Html->image('backgroud.png', array('alt' => 'CakePHP'));?>
            <h2 style="margin-left: 40%; font-size: 18px"><i>"Portal Autogestión Información y Procesos del Café"</i></h2>
	</table>
        <p><p>

</div>
<div class="actions">
	<h3><?php echo __('Menú'); ?></h3>
	<ul>
		<li><?php //echo $this->Html->link(__('By Shipping Line'), array('controller' => 'Embalajes', 'action' => 'findshippingline')); ?> </li>
		<li><?php echo $this->Html->link(__('BUSCAR CTNS'), array('controller' => 'PackagingCaffees', 'action' => 'all')); ?> </li>
                <li><?php echo $this->Html->link(__('SALIR'), array('controller' => 'users', 'action' => 'logout', $this->Session->read('User.id'))); ?></li>
	</ul>
</div>
